<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tw.lospot.kin.call">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_in_call_manager"
        android:supportsRtl="true"
        android:theme="@style/Theme.Toolkit.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".connection.ConnectionService"
            android:label="Kin Test Connection"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE"
            android:foregroundServiceType="camera|microphone|phoneCall"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>

        <activity
            android:name=".InCallActivity"
            android:label="@string/title_in_call_manager"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Toolkit.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.action.CONFIGURE_PHONE_ACCOUNT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notification.BubbleActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Toolkit.NoActionBar"
            android:exported="false">
            <intent-filter>
                <action android:name="tw.lospot.kin.call.BubbleContent" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".connection.InCallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="tw.lospot.Call.OutgoingCall" />
                <action android:name="tw.lospot.Call.IncomingCall" />

                <data android:scheme="tel" />
                <data android:scheme="sip" />
                <data android:scheme="voicemail" />
            </intent-filter>
            <intent-filter>
                <action android:name="tw.lospot.Call.Disconnect" />
                <action android:name="tw.lospot.Call.Upgrade" />
                <action android:name="tw.lospot.Call.Answer" />
            </intent-filter>
        </receiver>
    </application>

</manifest>